<link href="/projects/content/style.css" rel="stylesheet">

<h1>My Report</h1>

<table class="condition-table">
  <tbody>
  <tr>
    <th>Primary Organ(s) or Cancer</th>
    <th>Condition</th>
    <th>Description</th>
    <th>Preventable</th>
    <th>Treatable</th>
    <th>Adult Onset</th>
    <th>Carrier Status</th>
  </tr>
  <tr ng-repeat="condition in vm.getConditions()" ng-class="{'not-shown': !vm.getShownStatus(condition)}">
    <td class="td-center"><img ng-repeat="organ in condition.organs" class="organ-img" ng-src="{{vm.getImageUrl(organ)}}" /></td>
    <td>{{condition.condition}}</td>
    <td>{{condition.description}}</td>
    <td class="td-center"><md-icon ng-show="condition.preventable" aria-label="check">check</md-icon></td>
    <td class="td-center"><md-icon ng-show="condition.treatable" aria-label="check">check</md-icon></td>
    <td class="td-center"><md-icon ng-show="condition.adult_onset" aria-label="check">check</md-icon></td>
    <td class="td-center" ng-class="{'not-shown': condition.carrier && (va.adol_carrier != '1')}"><md-icon ng-show="condition.carrier" aria-label="check">check</md-icon></td>
  </tr>
  </tbody>
</table>

<!--<h4>Conditions</h4>-->
<!--<textarea rows="10" cols="60">{{vm.getConditions() | json}}</textarea>-->

<!--<h4>Values:</h4>-->
<!--<textarea rows="10" cols="60">{{va | json}}</textarea>-->
