[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    /*padding-top: 50px;*/
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.collapse-bar {
    background-color: transparent;
    width: 15px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 0;
    z-index: 10;
    font-size: small;
}

.collapse-bar:hover {
    background-color: rgba(127, 127, 127, 0.5);
}

.submit-fab {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.page-background {
    background-color: #f1f1f1;
}

va-canvas {
    display: block;
    position: relative;
    overflow: auto;
    /*-webkit-overflow-scrolling: touch;*/

    background-color: inherit;
    padding: 16px;
    min-height: 100%;
}

.page-no-holes {
    padding: 24px;
    min-width: 816px;
    max-width: 816px;
    min-height: 1056px;

    margin: auto;

    position: relative;
    z-index: 1;

    height: auto;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    overflow: auto;
    background-color: white;
}

.page {
    margin: 16px auto;
    background: url("/src/client/vandaid/content/img/north-America-3-ring-side_96ppi.png") repeat-y;
    background-size: 81px 1056px;
    padding: 0 0 0 78px;
    min-width: 816px;
    max-width: 816px;
    min-height: 1056px;
    max-height: 1056px;

    height: auto;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.page-inner {
    /*margin-left: 78px;*/
    padding: 24px 24px 24px 0;
    min-width: 738px;
    min-height: 100%;
    background-color: white;
}

.no-resize {
    resize: none;
}

.no-overflow {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.canvas-label {
    font-size: 75%;
    color: gray;
    white-space: nowrap;
}

.no-wrap {
    white-space: nowrap;
}

.floating-label {
    position: absolute;
    top: -0.8em;
    /*left: 0.8em;*/
    overflow: auto;
}

.pt-header {
    background: #f8f8f8;
    padding: 4px 0 0;
    font-size: 120%;
    border-top: 1px solid lightgray;
}

md-tab-item {
    max-width: none !important;
}

div[contentEditable] {
    cursor: text;
}

div[contentEditable]:active {
    border: blue;
}

.canvas-table {
    width: 100%;
}

.canvas-table tbody {
    vertical-align: top;
}

.vandaid-tab-bar {
    /*height: 30px;*/
}

.vandaid-tab-bar md-tab-item {
    /*padding: 6px 12px;*/
}

.vandaid-tab-bar md-tab-item:not([disabled]) {
    color: white;
}

.vandaid-tab-bar md-tab-item:not([disabled]):hover {
    background-color: #9E9E9E;
}

.vandaid-tab-bar md-tab-item:not([disabled]).md-active {
    background-color: white;
    color: rgb(153, 127, 61);
    /*min-height: 0;*/
}

.vandaid-items-bar {
    background-color: white;
    color: black;
}

.clickable {
    cursor: pointer;
}

va-sidenav,
va-sidenav.md-locked-open,
va-sidenav.md-closed.md-locked-open-add-active {
    display: block;
    min-width: 400px !important;
    /*width: 350px !important;*/
    max-width: 400px !important;
}

va-sidenav {
    max-height: 100%;

    min-width: 400px !important;
    max-width: 400px !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

va-sidenav.collapsed {
    min-width: 0 !important;
    max-width: 0 !important;
    overflow: hidden;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

sidenav-content {
    margin: 0 !important;
    padding: 0 !important;
    display: flex

}

/*va-sidenav {*/
/*min-width: 383px !important;*/
/*!*width: 350px !important;*!*/
/*max-width: 400px !important;*/
/*}*/

.rotate {
    transform: rotate(0deg);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.rotate180 {
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;

    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.vertical {
    position: absolute;
    top: 50%;
    transform: rotate(270deg);
    float: left;
}

.fade-out {
    opacity: 0;

    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;

    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.footer {
    font-size: small;
    margin: 10px;
}

.footer img {
    height: 50px;
    width: auto;
}

va-identity-bar {
    z-index: 30;
}

.identity-bar-logo {
    margin: 7px 16px 7px 7px;
    max-height: 100%;
}

.side-nav-logo {
    max-height: 200px;
    width: auto;
}

.identity-bar-logo img {
    padding: 0;
    height: 50px;
    width: auto;
}

.va-sidebar-toolbar {
    background: inherit !important;
    color: inherit !important;
    z-index: 3;
}

.transparent {
    background-color: transparent;
}