<!DOCTYPE html>

<html lang="en" ng-app="app">

<head>
  <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,400italic,700' rel='stylesheet'
        type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Material design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <title>VandAID - Active Interface Design by Vanderbilt</title>
</head>

<body layout="column">
<vandaid-identity-bar></vandaid-identity-bar>
<div layout="row" flex>
  <vandaid-sidenav></vandaid-sidenav>
  <vandaid-sandbox></vandaid-sandbox>
</div>

<!--<body layout="column" ng-controller="VandAIDApp as library">-->


<!--<div layout="row" flex ng-cloak ng-init="sideBoxCollapsed = false">-->
  <!--&lt;!&ndash; Side Navigation Bar &ndash;&gt;-->
  <!--<md-sidenav class="md-sidenav-left md-whiteframe-z1" flex-->
              <!--ng-class="{'collapsed' : sideBoxCollapsed, 'clickable' : sideBoxCollapsed}"-->
              <!--md-component-id="left-sidenav"-->
              <!--md-is-locked-open="$mdMedia('gt-sm')">-->

    <!--<div flex layout="row">-->
      <!--<sidebox layout="row" flex></sidebox>-->
    <!--</div>-->
  <!--</md-sidenav>-->

    <!--&lt;!&ndash;<div flex layout="row" class="page-background" >&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; Collapse bar &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div hide show-gt-sm class="collapse-bar md-icon-button" ng-click="sideBoxCollapsed = !sideBoxCollapsed" layout="row" layout-align="center center">&ndash;&gt;-->
    <!--&lt;!&ndash;<md-icon ng-hide="sideBoxCollapsed" class="material-icons" aria-label="Collapse Toolbox">&ndash;&gt;-->
    <!--&lt;!&ndash;chevron_left&ndash;&gt;-->
    <!--&lt;!&ndash;</md-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-icon ng-show="sideBoxCollapsed" class="material-icons" aria-label="Expand Toolbox">&ndash;&gt;-->
    <!--&lt;!&ndash;chevron_right&ndash;&gt;-->
    <!--&lt;!&ndash;</md-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash; Main content &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<md-content id="content" class="page-container" flex>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="instructions">&ndash;&gt;-->
    <!--&lt;!&ndash;<h2>Scenario:</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Imagine you are receiving handoff from one of your colleagues to cover a set of patients for the night.&ndash;&gt;-->
    <!--&lt;!&ndash;Before your handoff, your colleague will hand you a printed patient list.&ndash;&gt;-->
    <!--&lt;!&ndash;Below are 5 patients that might appear on that list.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Your task is to customize this list using the toolbox to your left.&ndash;&gt;-->
    <!--&lt;!&ndash;When you are finished, use the "Save and Submit" button below to send your preferences to the design team.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="page" ng-style="{'font-size': fm.values.font_size + 'pt'}" flex layout="row">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="page-inner">&ndash;&gt;-->
    <!--&lt;!&ndash;<component-canvas>Loading...</component-canvas>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-content>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash; Submit button &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<md-button hide show-gt-md class="submit-fab md-raised" ng-class="needsSaveTip ? 'md-warn' : 'md-accent'" aria-label="Save and Submit" ng-click="submitData()">&ndash;&gt;-->
    <!--&lt;!&ndash;Save and Submit&ndash;&gt;-->
    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->

<!--</div>-->

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.js"></script>

<!-- My Custom Dependencies -->
<!--Core-->
<script src="/app/app.module.js"></script>
<script src="/app/core/core.module.js"></script>
<script src="/app/core/core.palette.js"></script>
<script src="/app/tools/tools.module.js"></script>
<script src="/app/tools/tools.service.js"></script>
<script src="/app/core/core.iconprovider.js"></script>

<!--Sandbox-->
<script src="/app/sandbox/sandbox.module.js"></script>
<script src="/app/sandbox/sandbox.directive.js"></script>

<!--REDCap-->
<script src="/app/redcap/redcap.module.js"></script>
<script src="/app/redcap/redcap.service.js"></script>

<!--Fields-->
<script src="/app/fields/fields.module.js"></script>
<script src="/app/fields/fieldservice.factory.js"></script>
<script src="/app/fields/fieldpane.directive.js"></script>

<!--Navigation-->
<script src="/app/navigation/nav.module.js"></script>
<script src="/app/navigation/identitybar.directive.js"></script>
<script src="/app/navigation/keyboardshortcut.filter.js"></script>
<script src="/app/navigation/menubar.directive.js"></script>
<script src="/app/navigation/sidenav.directive.js"></script>

<!--User-->
<script src="/app/user/user.module.js"></script>
<script src="/app/user/userservice.factory.js"></script>


<!--<script src="/js/toolbox.js"></script>-->

<!--<script src="/js/app.js"></script>-->
<!--<script src="/js/canvas.js"></script>-->
<!--<script src="/js/ptCanvas.js"></script>-->
<!--<script src="/js/labManager.js"></script>-->
<!--<script src="/js/itemManager.js"></script>-->
<!--<script src="/js/fieldManager.js"></script>-->
<!--<script src="/js/sidebox.js"></script>-->
<!--<script src="/js/expandable.js"></script>-->
<!--<script src="/js/menuBar.js"></script>-->
<!--<script src="/resources/selectionModel.js"></script>-->
<!--<script src="/resources/observer.js"></script>-->
<!--<script src="/js/top_bar.js"></script>-->

</body>
</html>
