.condition-table {
}

.condition-table .cell {
  border: thin solid gray;
  padding: 0;
}

.report-header {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

.shown {
  background-color: white;
  color: rgba(0, 0, 0, 1);

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.not-shown {
  background-color: lightgray;
  color: rgba(0, 0, 0, 0.5);

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.not-shown img {
  opacity: 0.7;

  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.organ-img {
  margin: 5px;
  height: 30px;
  width: auto;
}

ul.tags {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.tags li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: small;
}

ul.tags li:after {
  content: " | ";
  color: #aaa;
}

ul.tags li:last-child:after {
  content: "";
}

.category-header {
  /*background-color: rgba(84,88,90,.6);*/
  /*background-color: rgba(229,230,230,.8);*/
  /*color: white;*/
}

.condition-header {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 6px;
}

.condition-description {
  margin: 6px 0;
}

.overflow-auto {
  overflow: auto;
}


.hover-target .hover-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
}

.hover-content.show,
.hover-target:hover .hover-content {
  visibility: visible;
  opacity: 1;
}

.floating-actions-parent {
  position: relative;
  min-height: 40px;
}

.floating-actions-right {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  float: right;
  z-index: 3;
}

.floating-actions-clear-fixed.show {
  position: relative;
  /*float: none;*/
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.condition-row {
  background-color: white;
}