<link href="/content/style.css" rel="stylesheet">

<md-toolbar md-scroll-shrink layout-padding>
  <h1>My Report</h1>
  <div layout="row">
    <h4>A sample of conditions which may appear on a report</h4>
    <span flex></span>
    <md-button hide-gt-sm
               aria-label="Include All"
               ng-click="vm.setAll(true)"
               class="md-icon-button"
               ng-class="{'md-primary md-raised': includeAll}">
      <md-tooltip>Include All</md-tooltip>
      <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
    </md-button>
    <md-button hide-gt-sm
               aria-label="Exclude All"
               ng-click="vm.setAll(false)"
               class="md-icon-button"
               ng-class="{'md-warn md-raised': excludeAll}">
      <md-tooltip>Exclude All</md-tooltip>
      <md-icon class="s24" aria-label="exclude">close</md-icon>
    </md-button>
  </div>

</md-toolbar>

<div>
  <md-list class="md-dense" flex>
    <section ng-repeat="category in vm.getCategories()">
      <md-subheader>
        <h1>{{category}}</h1>
      </md-subheader>
      <md-card class="shown"
               ng-repeat="condition in vm.getConditionsByCategory(category)"
               ng-class="{'not-shown': !vm.getShownStatus(condition)}">
        <md-card-title layout="row">
          <md-card-title-text>
            <h4 class="condition-header">{{::condition.condition}}</h4>
          </md-card-title-text>
          <span flex></span>
          <img ng-repeat="organ in condition.organs" class="organ-img" ng-src="{{::vm.getImageUrl(organ)}}"/>
        </md-card-title>
        <md-card-content>
          <p class="condition-description">{{::condition.description}}</p>
        </md-card-content>
        <md-card-actions layout="row">
          <ul class="tags">
            <li><span ng-class="::{'opacity-10': !condition.preventable}">Preventable</span></li>
            <li><span ng-class="::{'opacity-10': !condition.treatable}">Treatable</span></li>
            <li><span ng-class="::{'opacity-10': !condition.adult_onset}">Adult Onset</span></li>
            <li><span ng-class="::{'opacity-10': !condition.carrier}">Carrier Status</span></li>
          </ul>
          <span flex></span>
          <md-button
              aria-label="Always include {{::condition.condition}}"
              ng-class="{'md-primary md-raised': va['manual_include___' + condition.id]}"
              ng-click="vm.setManual(condition.id, true)"
              class="md-icon-button">
            <md-tooltip>Always Include</md-tooltip>
            <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
          </md-button>
          <md-button
              aria-label="Always exclude {{::condition.condition}}"
              ng-class="{'md-warn md-raised': va['manual_exclude___' + condition.id]}"
              ng-click="vm.setManual(condition.id, false)"
              class="md-icon-button">
            <md-tooltip>Always Exclude</md-tooltip>
            <md-icon class="s24" aria-label="exclude">close</md-icon>
          </md-button>
        </md-card-actions>
        <div ng-if="::condition.carrier" class="center shown"
             ng-class="{'not-shown': (condition.carrier && (va.adol_carrier != '1'))}">
          <span>Carrier status would <span ng-show="va.adol_carrier != '1'">not </span>be reported</span>
        </div>
      </md-card>
    </section>
  </md-list>

</div>

<table class="condition-table" ng-if="false && $mdMedia('gt-sm')">
  <tbody>
  <tr>
    <th>
      <md-button
          aria-label="Include All"
          ng-click="vm.setAll(true)"
          class="md-icon-button"
          ng-class="{'md-primary md-raised': includeAll}">
        <md-tooltip>Include All</md-tooltip>
        <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
      </md-button>
    </th>
    <th>
      <md-button
          aria-label="Exclude All"
          ng-click="vm.setAll(false)"
          class="md-icon-button"
          ng-class="{'md-warn md-raised': excludeAll}">
        <md-tooltip>Exclude All</md-tooltip>
        <md-icon class="s24" aria-label="exclude">close</md-icon>
      </md-button>
    </th>
    <th>Primary Organ(s) or Cancer</th>
    <th>Condition</th>
    <!--<th>Description</th>-->
    <th ng-if="$mdMedia('gt-md')">Preventable</th>
    <th ng-if="$mdMedia('gt-md')">Treatable</th>
    <th ng-if="$mdMedia('gt-md')">Adult Onset</th>
    <!--<th ng-if="$mdMedia('gt-md')">Carrier Status</th>-->
  </tr>
  <tr ng-repeat="condition in vm.getConditions()"
      ng-class="(vm.getShownStatus(condition) ? 'shown' : 'not-shown')">
    <td class="center">
      <md-button
          aria-label="Always include {{::condition.condition}}"
          ng-class="{'md-primary md-raised': va['manual_include___' + condition.id]}"
          ng-click="vm.setManual(condition.id, true)"
          class="md-icon-button">
        <md-tooltip>Always Include</md-tooltip>
        <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
      </md-button>
    </td>
    <td class="center">
      <md-button
          aria-label="Always exclude {{::condition.condition}}"
          ng-class="{'md-warn md-raised': va['manual_exclude___' + condition.id]}"
          ng-click="vm.setManual(condition.id, false)"
          class="md-icon-button">
        <md-tooltip>Always Exclude</md-tooltip>
        <md-icon class="s24" aria-label="exclude">close</md-icon>
      </md-button>
    </td>
    <td class="center">
      <img ng-repeat="organ in condition.organs" class="organ-img" ng-src="{{::vm.getImageUrl(organ)}}"/>
    </td>
    <td>
      <h4 class="condition-header">{{::condition.condition}}</h4>
      <p class="condition-description">{{::condition.description}}</p>
      <div hide-gt-md>
        <!--<div class="md-warn" md-colors="::{color: 'warn'}"-->
        <!--ng-show="(condition.carrier && va.adol_carrier != '1'-->
        <!--&& vm.getShownStatus(condition))">Carrier status would not be reported.-->
        <!--</div>-->
        <ul class="tags">
          <li><span ng-class="::{'opacity-10': !condition.preventable}">Preventable</span></li>
          <li><span ng-class="::{'opacity-10': !condition.treatable}">Treatable</span></li>
          <li><span ng-class="::{'opacity-10': !condition.adult_onset}">Adult Onset</span></li>
          <li><span ng-class="::{'opacity-10': !condition.carrier}">Carrier Status</span></li>
        </ul>
      </div>
      <div ng-if="::condition.carrier" class="center"
           ng-class="(condition.carrier && (va.adol_carrier != '1') ? 'not-shown' : 'shown')">
        <span>Carrier status would <span ng-show="va.adol_carrier != '1'">not </span>be reported</span>
      </div>
    </td>
    <td ng-if="$mdMedia('gt-md')" class="center">
      <md-icon ng-show="::condition.preventable" aria-label="check">check</md-icon>
    </td>
    <td ng-if="$mdMedia('gt-md')" class="center">
      <md-icon ng-show="::condition.treatable" aria-label="check">check</md-icon>
    </td>
    <td ng-if="$mdMedia('gt-md')" class="center">
      <md-icon ng-show="::condition.adult_onset" aria-label="check">check</md-icon>
    </td>
  </tr>
  </tbody>
</table>

<md-list ng-if="false && !$mdMedia('gt-sm')" flex>
  <md-card ng-repeat="condition in vm.getConditions()" ng-class="{'not-shown': !vm.getShownStatus(condition)}">
    <md-card-title layout="row">
      <md-card-title-text>
        <h4 class="condition-header">{{::condition.condition}}</h4>
      </md-card-title-text>
      <span flex></span>
      <img ng-repeat="organ in condition.organs" class="organ-img" ng-src="{{::vm.getImageUrl(organ)}}"/>
    </md-card-title>
    <md-card-content>
      <p class="condition-description">{{::condition.description}}</p>
      <div ng-if="::condition.carrier" class="center"
           ng-class="(condition.carrier && (va.adol_carrier != '1') ? 'not-shown' : 'shown')">
        <span>Carrier status would <span ng-show="va.adol_carrier != '1'">not </span>be reported</span>
      </div>
    </md-card-content>
    <md-card-actions layout="row">
      <ul class="tags">
        <li><span ng-class="::{'opacity-10': !condition.preventable}">Preventable</span></li>
        <li><span ng-class="::{'opacity-10': !condition.treatable}">Treatable</span></li>
        <li><span ng-class="::{'opacity-10': !condition.adult_onset}">Adult Onset</span></li>
        <li><span ng-class="::{'opacity-10': !condition.carrier}">Carrier Status</span></li>
      </ul>
      <span flex></span>
      <md-button
          aria-label="Always include {{::condition.condition}}"
          ng-class="{'md-primary md-raised': va['manual_include___' + condition.id]}"
          ng-click="vm.setManual(condition.id, true)"
          class="md-icon-button">
        <md-tooltip>Always Include</md-tooltip>
        <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
      </md-button>
      <md-button
          aria-label="Always exclude {{::condition.condition}}"
          ng-class="{'md-warn md-raised': va['manual_exclude___' + condition.id]}"
          ng-click="vm.setManual(condition.id, false)"
          class="md-icon-button">
        <md-tooltip>Always Exclude</md-tooltip>
        <md-icon class="s24" aria-label="exclude">close</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
</md-list>