<link href="/src/client/content/style.css" rel="stylesheet">

<h1>My Report</h1>

<table class="condition-table">
  <tbody>
  <tr>
    <th>Always Include</th>
    <th>Always Exclude</th>
    <th>Primary Organ(s) or Cancer</th>
    <th>Condition</th>
    <th>Description</th>
    <th>Preventable</th>
    <th>Treatable</th>
    <th>Adult Onset</th>
    <th>Carrier Status</th>
  </tr>
  <tr ng-repeat="condition in vm.getConditions()"
      ng-class="{'not-shown': !vm.getShownStatus(condition), 'shown': vm.getShownStatus(condition)}">
    <td class="td-center">
      <md-checkbox aria-label="Always include {{condition.condition}}"
                   class="md-primary"
                   ng-checked="va.manual_include[condition.id]"
                   md-indeterminate="!va.manual_include[condition.id] && vm.getShownStatus(condition, true)"
                   ng-click="vm.setManual(condition.id, true)"></md-checkbox>
    </td>
    <td class="td-center">
      <md-checkbox aria-label="Always include {{condition.condition}}"
                   class="md-warn"
                   ng-checked="va.manual_exclude[condition.id]"
                   md-indeterminate="!va.manual_exclude[condition.id] && !vm.getShownStatus(condition, true)"
                   ng-click="vm.setManual(condition.id, false)"></md-checkbox>
    </td>
    <td class="td-center"><img ng-repeat="organ in condition.organs" class="organ-img"
                               ng-src="{{vm.getImageUrl(organ)}}"/></td>
    <td>{{condition.condition}}</td>
    <td>{{condition.description}}</td>
    <td class="td-center">
      <md-icon ng-show="condition.preventable" aria-label="check">check</md-icon>
    </td>
    <td class="td-center">
      <md-icon ng-show="condition.treatable" aria-label="check">check</md-icon>
    </td>
    <td class="td-center">
      <md-icon ng-show="condition.adult_onset" aria-label="check">check</md-icon>
    </td>
    <td class="td-center" ng-class="{'not-shown': condition.carrier && (va.adol_carrier != '1')}">
      <md-icon ng-show="condition.carrier" aria-label="check">check</md-icon>
    </td>
  </tr>
  </tbody>
</table>

<!--<textarea cols="80" rows="30">{{va | json}}</textarea>-->
<!--<span ng-repeat="condition in vm.getConditions()">{{condition.id}}, {{condition.condition}} | </span>-->