<link href="/content/style.css" rel="stylesheet">

<div layout-margin>

  <div class="md-toolbar-tools" layout-padding layout="row">
    <h1>Sample Report</h1>
    <span flex></span>
    <md-button ng-click="vm.showInstructions()">
      Instructions
    </md-button>
  </div>

  <!--Format for larger displays-->
  <div class="condition-table" md-whiteframe="2" ng-if="$mdMedia('gt-sm')" layout="column">
    <div layout="row" md-colors="{background: 'primary-A400'}" layout-fill>
      <div flex="10" class="cell report-header">Primary Organ(s) or Cancer</div>
      <div flex class="cell report-header">Condition</div>
      <div flex="10" ng-if="$mdMedia('gt-md')" class="cell report-header">
        <md-tooltip>Preventable</md-tooltip>
        Prev...
      </div>
      <div flex="10" ng-if="$mdMedia('gt-md')" class="cell report-header">
        <md-tooltip>Treatable</md-tooltip>
        Treat...
      </div>
      <div flex="10" ng-if="$mdMedia('gt-md')" class="cell report-header">Adult Onset</div>
    </div>
    <div ng-repeat-start="category in vm.getCategories()" flex class="center cell">
      <h3>{{category}}</h3>
    </div>
    <div ng-repeat-end ng-repeat="condition in vm.getConditionsByCategory(category)"
         ng-class="(vm.getShownStatus(condition) ? 'shown' : 'not-shown')" layout="row"
         class="condition-row">
      <div flex="10" class="center cell">
        <img ng-repeat="organ in condition.organs" class="organ-img" ng-src="{{::vm.getImageUrl(organ)}}"/>
      </div>
      <div flex layout="column" class="cell">
        <div flex class="hover-target floating-actions-parent clearfix">
          <div class="hover-content floating-actions-right floating-actions-clear-fixed"
               ng-class="{'show': va['manual_include' + fieldSuffix + '___' + condition.id]
                || va['manual_exclude' + fieldSuffix + '___' + condition.id]}" layout="row">
            <md-button
                aria-label="Always report {{::condition.condition}}"
                ng-class="{'md-primary': va['manual_include' + fieldSuffix + '___' + condition.id]}"
                ng-click="vm.setManual(condition.id, true)"
                class="md-icon-button">
              <md-tooltip>Always report {{::condition.condition}}</md-tooltip>
              <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
            </md-button>
            <md-button
                aria-label="Never report {{::condition.condition}}"
                ng-class="{'md-warn': va['manual_exclude' + fieldSuffix + '___' + condition.id]}"
                ng-click="vm.setManual(condition.id, false)"
                class="md-icon-button">
              <md-tooltip>Never report {{::condition.condition}}</md-tooltip>
              <md-icon class="s24" aria-label="exclude">block</md-icon>
            </md-button>
          </div>
          <h4 class="condition-header">{{::condition.condition}}</h4>
          <p class="condition-description">{{::condition.description}}</p>
          <div hide-gt-md>
            <ul class="tags">
              <li><span ng-class="::{'opacity-10': !condition.preventable}">Preventable</span></li>
              <li><span ng-class="::{'opacity-10': !condition.treatable}">Treatable</span></li>
              <li><span ng-class="::{'opacity-10': !condition.adult_onset}">Adult Onset</span></li>
              <li><span ng-class="::{'opacity-10': !condition.carrier.value}">Carrier Status</span></li>
            </ul>
          </div>
        </div>

        <!--Carrier status-->
        <div ng-if="::condition.carrier.value"
             ng-class="(vm.getShownCarrierStatus(condition) ? 'shown' : 'not-shown')"
             class="center hover-target floating-actions-parent clearfix">
          <div class="hover-content floating-actions-right"
               ng-class="{'show': va['man_incl_car' + fieldSuffix + '___' + condition.id]
                  || va['man_excl_car' + fieldSuffix + '___' + condition.id]}">
            <md-button
                aria-label="Always report carrier status for {{::condition.condition}}"
                ng-class="{'md-primary': va['man_incl_car' + fieldSuffix + '___' + condition.id]}"
                ng-click="vm.setManualCarrier(condition.id, true)"
                class="md-icon-button">
              <md-tooltip>Always report carrier status for {{::condition.condition}}</md-tooltip>
              <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
            </md-button>
            <md-button
                aria-label="Never report carrier status for {{::condition.condition}}"
                ng-class="{'md-warn': va['man_excl_car' + fieldSuffix + '___' + condition.id]}"
                ng-click="vm.setManualCarrier(condition.id, false)"
                class="md-icon-button">
              <md-tooltip>Never report carrier status for {{::condition.condition}}</md-tooltip>
              <md-icon class="s24" aria-label="exclude">block</md-icon>
            </md-button>
          </div>
          <div layout-padding>
              <span>Carrier status would <span ng-hide="vm.getShownCarrierStatus(condition)">not </span>be reported<span
                  ng-show="condition.carrier.label !== ''"> ({{condition.carrier.label}})</span></span>
          </div>
        </div>
      </div>
      <div flex="10" ng-if="$mdMedia('gt-md')" class="cell" layout-align="center center" layout="row">
        <md-icon ng-show="::condition.preventable" aria-label="check">check</md-icon>
      </div>
      <div flex="10" ng-if="$mdMedia('gt-md')" class="cell" layout="row">
        <md-icon ng-show="::condition.treatable" aria-label="check">check</md-icon>
      </div>
      <div flex="10" ng-if="$mdMedia('gt-md')" class="cell" layout="row">
        <md-icon ng-show="::condition.adult_onset" aria-label="check">check</md-icon>
      </div>
    </div>
  </div>

  <!--Format for small displays-->
  <div class="dense" ng-if="!$mdMedia('gt-sm')">
    <section ng-repeat="category in vm.getCategories()">
      <md-subheader class="category-header md-no-sticky">
        <h3>{{::category}}</h3>
      </md-subheader>

      <md-card class="hover-target clearfix"
               ng-repeat="condition in vm.getConditionsByCategory(category)"
               ng-class="{'not-shown': !vm.getShownStatus(condition)}">
        <md-card-header class="floating-actions-parent clearfix">
          <md-card-header-text>
            <h4 class="condition-header">{{::condition.condition}}</h4>
          </md-card-header-text>
          <div ng-show="va['manual_include' + fieldSuffix + '___' + condition.id]
                || va['manual_exclude' + fieldSuffix + '___' + condition.id]" layout="row">
            <md-button
                ng-show="va['manual_include' + fieldSuffix + '___' + condition.id]"
                aria-label="Always report {{::condition.condition}}"
                ng-click="vm.setManual(condition.id, true)"
                class="md-primary md-icon-button">
              <md-tooltip>Always report {{::condition.condition}}</md-tooltip>
              <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
            </md-button>
            <md-button
                ng-show="va['manual_exclude' + fieldSuffix + '___' + condition.id]"
                aria-label="Never report {{::condition.condition}}"
                ng-click="vm.setManual(condition.id, false)"
                class="md-warn md-icon-button">
              <md-tooltip>Never report {{::condition.condition}}</md-tooltip>
              <md-icon class="s24" aria-label="exclude">block</md-icon>
            </md-button>
          </div>
          <md-menu>
            <md-button aria-label="Set custom settings for {{::condition.condition}}" class="md-icon-button"
                       ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin>settings</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                    aria-label="Always report {{::condition.condition}}"
                    ng-class="{'md-primary': va['manual_include' + fieldSuffix + '___' + condition.id]}"
                    ng-click="vm.setManual(condition.id, true)">
                  <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
                  Always report condition
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button
                    aria-label="Never report {{::condition.condition}}"
                    ng-class="{'md-warn': va['manual_exclude' + fieldSuffix + '___' + condition.id]}"
                    ng-click="vm.setManual(condition.id, false)">
                  <md-icon aria-label="block">block</md-icon>
                  Never report condition
                </md-button>
              </md-menu-item>
              <md-menu-divider ng-if="::condition.carrier.value"></md-menu-divider>
              <md-menu-item ng-if="::condition.carrier.value">
                <md-button aria-label="Always report carrier status for {{::condition.condition}}"
                           ng-class="{'md-primary': va['man_incl_car' + fieldSuffix + '___' + condition.id]}"
                           ng-click="vm.setManualCarrier(condition.id, true)">
                  <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
                  Always report carrier status for condition
                </md-button>
              </md-menu-item>
              <md-menu-item ng-if="::condition.carrier.value">

                <md-button aria-label="Never report carrier status for {{::condition.condition}}"
                           ng-class="{'md-warn': va['man_excl_car' + fieldSuffix + '___' + condition.id]}"
                           ng-click="vm.setManualCarrier(condition.id, false)">
                  <md-icon aria-label="block">block</md-icon>
                  Never report carrier status for condition
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card-header>
        <md-card-content>
          <p class="condition-description">{{::condition.description}}</p>
        </md-card-content>
        <md-card-actions layout="row">
          <ul class="tags">
            <li><span ng-class="::{'opacity-10': !condition.preventable}">Preventable</span></li>
            <li><span ng-class="::{'opacity-10': !condition.treatable}">Treatable</span></li>
            <li><span ng-class="::{'opacity-10': !condition.adult_onset}">Adult Onset</span></li>
            <li><span ng-class="::{'opacity-10': !condition.carrier.value}">Carrier Status</span></li>
          </ul>
          <div flex></div>
          <img ng-repeat="organ in condition.organs" class="organ-img" style="float:right"
               ng-src="{{::vm.getImageUrl(organ)}}"/>
        </md-card-actions>

        <!--Carrier Status bar-->
        <div ng-if="::condition.carrier.value" layout="row" layout-align="center center"
             ng-class="(vm.getShownCarrierStatus(condition) ? 'shown' : 'not-shown')">

          <div layout-padding>
            <span>Carrier status would <span ng-hide="vm.getShownCarrierStatus(condition)">not </span>be reported<span
                ng-show="condition.carrier.label !== ''"> ({{condition.carrier.label}})</span></span>
          </div>
          <div ng-show="va['man_incl_car' + fieldSuffix + '___' + condition.id]
                  || va['man_excl_car' + fieldSuffix + '___' + condition.id]">
            <md-button
                ng-show="va['man_incl_car' + fieldSuffix + '___' + condition.id]"
                aria-label="Always report carrier status for {{::condition.condition}}"
                ng-click="vm.setManualCarrier(condition.id, true)"
                class="md-primary md-icon-button">
              <md-tooltip>Always report carrier status for {{::condition.condition}}</md-tooltip>
              <md-icon md-svg-src="/content/img/pin.svg" class="s24" aria-label="pin"></md-icon>
            </md-button>
            <md-button
                ng-show="va['man_excl_car' + fieldSuffix + '___' + condition.id]"
                aria-label="Never report carrier status for {{::condition.condition}}"
                ng-click="vm.setManualCarrier(condition.id, false)"
                class="md-warn md-icon-button">
              <md-tooltip>Never report carrier status for {{::condition.condition}}</md-tooltip>
              <md-icon class="s24" aria-label="exclude">block</md-icon>
            </md-button>
          </div>
        </div>
      </md-card>
    </section>
  </div>
</div>